[Desktop Entry]
Encoding=UTF-8
Version=1.0.0
Type=Application
Terminal=false
Name=HabitJewel
Exec=/opt/habitjewel/habitjewel.py
Comment=Habit tracker
Icon=habitjewel
X-Window-Icon=calendar_todo
X-Osso-Type=application/x-executable
